<!--
<script src="http://internship.kooboo/dbapi/student/get" engine="kscrpit">
</script>
<div>
    <h2>Welcome!</h2>
   <label>name</label>
   <input type="text" name="name" value="b5a96da4-2b57-e1fb-13cf-b09dc42a99eb">
   <label>密码</label>
   <input type="password" name="password">
   <button type="submit" id="a">submit</button>
</div>-->

<form method="post" action="http://internship.kooboo/api/studentByName">
<lable>Title</lable>
        <input type="text" name="name">

    <div><button>post</button></div>
</form>