<!--
<script src="http://internship.kooboo/dbapi/student/get" engine="kscrpit">
</script>
<div>
    <h2>Welcome!</h2>
   <label>name</label>
   <input type="text" name="name" value="b5a96da4-2b57-e1fb-13cf-b09dc42a99eb">
   <label>密码</label>
   <input type="password" name="password">
   <button type="submit" id="a">submit</button>
</div>

obj.stu_id = k.request.stu_id;
    obj.name = k.request.name;
    obj.gender = k.request.gender;
    obj.enterence_year = k.request.enterence_year;
    obj.major = k.request.major;
    obj.tel = k.request.tel;
    obj.introduction = k.request.introduction;
    obj.email = k.request.email;
    obj.password = k.request.password;
    obj.exps = exp;
    obj.works = k.request.works;


-->

<form method="post" action="http://internship.kooboo/dbapi/student/add">
    <div class="form-group">
        <lable>stu_id</lable>
        <input type="text" name="stu_id">
    </div>
    <div class="form-group">
        <lable>name</lable>
        <input type="text" name="name">
    </div>
    <div class="form-group">
        <lable>gender</lable>
        <input type="text" name="gender">
    </div>
    <div class="form-group">
        <lable>enterence_year</lable>
        <input type="text" name="enterence_year">
    </div>
    <div class="form-group">
        <lable>major</lable>
        <input type="text" name="major">
    </div>
    <div class="form-group">
        <lable>tel</lable>
        <input type="text" name="tel">
    </div>
    <div class="form-group">
        <lable>introduction</lable>
        <input type="text" name="introduction">
    </div>
    <div class="form-group">
        <lable>email</lable>
        <input type="text" name="email">
    </div>
    <div class="form-group">
        <lable>password</lable>
        <input type="text" name="password">
    </div>
    <div class="form-group">
        <lable>exp</lable>
        <input type="text" name="exps">
    </div>
    <div class="form-group">
        <lable>exp</lable>
        <input type="text" name="exps">
    </div>
    <div class="form-group">
        <lable>exp</lable>
        <input type="text" name="exps">
    </div>
    <div class="form-group">
        <lable>works</lable>
        <input type="text" name="works">
    </div>
     <div class="form-group">
        <lable>works</lable>
        <input type="text" name="works">
    </div>
     <div class="form-group">
        <lable>works</lable>
        <input type="text" name="works">
    </div>
    <div><button class="submit">add</button></div>
</form>